body{
    background-image: url(GettyImages-1239441861-scaled.jpg);
    background-size: cover;
background-position: center;
}


.equipo {
    display: flex;
    justify-content: center;
    align-items: center;
}
.goles {
    font-size: 32px;
    color: green;
}
.marcador {
    margin: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente para mejorar la visibilidad */
    padding: 10px;
    color: white;
    font-size: 1.2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 100;
}
#equipos {
    display: flex;
    width: 100%;
    padding: 10px;
    justify-content: center;
    font-weight: bold;
}
.nombre2{
    margin-left: 10px;
}
.goles {
    font-size: 1.5em;
    margin-left: 13px; 
}
#tiempo{
    font-size: 1.2em;
    color: red;
}
.container{
    margin-top: 30px;
}

.row{
    justify-content: center;
}


.celda {
    width: 250px;
    height: 250px;
    opacity: 0.5;
    transition: opacity 0.3s ease;
}

.celda:hover {
    cursor: pointer;
}

.celda1 {
    border-radius: 250px 0 0 0;
    background-color:red;
    margin: 0 10px 10px 0;
   
}

.celda2 {
    background-color:yellow;
    margin:0 0 10px 10px ;
    border-radius: 0 250px 0 0;

}

.celda3 {
    background-color: blue;
    border-radius: 0 0 0 250px;
    margin: 10px 10px 0 0 ;

}

.celda4 {
    background-color: rgb(72, 254, 72);
    border-radius: 0 0 250px 0;
    margin: 10px 0 0 10px;

}

.celda.active {
    opacity: 1;
}

#empezar{
    font-family: sans-serif;
    background-position: center;
background-image: url(images-removebg-preview.png);
border-radius: 100%;
height: 180px;
width: 180px;
position: absolute;
top: 80px;
right: 0;
bottom: 0;
left: 0;
margin: auto;
text-align: center;
z-index: 10;
border: none;
color: rgb(255, 255, 255);
font-size: 2.6em;
cursor: pointer;
font-weight: bold;
}


.modal-derrota {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.67); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.tarjetaRoja {
    font-family: condensed;
    background: white;
    padding: 20px;
    width: 400px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0px 10px 20px rgba(255, 0, 0, 0.7);
    position: relative;
    border: 4px solid red;
    color: red;
}


.tarjetaVictoria {
    font-family: condensed;
    background: white;
    padding: 20px;
    width: 400px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0px 10px 20px rgba(98, 255, 0, 0.7);
    position: relative;
    border: 4px solid rgba(98, 255, 0, 0.7);
    color: green;
}
.tarjetaEmpate {
    font-family: condensed;
    background: white;
    padding: 20px;
    width: 400px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0px 10px 20px  rgba(0, 60, 255, 0.703);
    position: relative;
    border: 4px solid rgb(0, 60, 255);
    color: rgb(0, 60, 255) ;
}

.tarjetaDerrota {
    font-family: condensed;
    background: white;
    padding: 20px;
    width: 400px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0px 10px 20px  rgba(195, 0, 255, 0.703);
    position: relative;
    border: 4px solid rgb(195, 0, 255);
    color: purple ;
}

#imgaspas{
    width: 220px;
    height: auto;
    margin-bottom: 15px;
    filter: drop-shadow(5px 5px 10px rgba(255, 0, 0, 0.5));
}

.tarjeta h2 {
    font-size: 26px;
    color: #d50000;
    font-weight: bold;
}


.reiniciar {
    background: none; 
    border: none; 
    cursor: pointer; 
    margin-top: 10px; 
}

.reiniciar img {
    width: 50px; 
    height: auto;
}

.reiniciar:hover {
    transform: scale(1.1); 
}



